.h1 {
  display: flex;
}

.h1-logo {
  width: 170px;
  height: 110px;
  }

.p-h1 {
  font-family: "Caveat", cursive;
 
  margin-top: 25px;
  font-size: larger;
}

.img-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38%; 
}

.div-h3 {
  font-family: "Limelight", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.icon-favorite {
  width: 30px;
  height: 30px;

  
}

.h3-home {
  display: flex;
  justify-content: center;
  font-family: "Limelight", sans-serif;
  color: rgb(156, 28, 28);
}

.btn-nav-signout {
  margin-left: 300px;
}

.btn-star {
  display: flex;
  justify-content: center;
}

.favorite {
  color: goldenrod;
}

.img-register-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-register-2 {
  height: 420px;
  width: 650px;
  opacity: 80%;

}

.h2-register-page {
  font-family: "Limelight", sans-serif;
}
  
 .div-user-retrieved-info{
  display: flex;
  justify-content: center;
  font-family: "Caveat", cursive;
  font-size: 38px;
 } 

 .h5-home-page {
  display: flex;
  justify-content: center;
  font-size: x-large;
 }

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.hide {
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-fav i {
  font-size: 1.6rem;
  color: black; /* default */
  transition: color 0.2s ease;
}

.btn-fav.favorite i {
  color: gold; /* yellow when favorite */
}