.h1 {
  display: flex;
}

.h1-logo {
  width: 170px;
  height: 110px;
  }

.p-h1 {
  font-family: "Caveat", cursive;
 
  margin-top: 25px;
  font-size: larger;
}

.img-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.div-h3 {
  font-family: "Limelight", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.icon-favorite {
  width: 30px;
  height: 30px;
  color: black;
  
}

.h3-home {
  display: flex;
  justify-content: center;
  font-family: "Limelight", sans-serif;
  color: rgb(156, 28, 28);
}

.btn-nav-signout {
  margin-left: 370px;
}
  
  

